
Build/x64/Debug/reaper_simonsreaperplugin_x64.exp
Build/x64/Debug/reaper_simonsreaperplugin_x64.lib
Build/x64/Debug/reaper_simonsreaperplugin_x64.pdb
Build/x64/Release/reaper_simonsreaperplugin_x64.exp
Build/x64/Release/reaper_simonsreaperplugin_x64.lib
Intermidiate/Debug/Main.obj
Intermidiate/Debug/reaper_rep4er_x64.dll.recipe
Intermidiate/Debug/reaper_rep4er_x64.ilk
Intermidiate/Debug/ReP4er.log
Intermidiate/Debug/ReP4er.tlog/CL.command.1.tlog
Intermidiate/Debug/ReP4er.tlog/CL.read.1.tlog
Intermidiate/Debug/ReP4er.tlog/CL.write.1.tlog
Intermidiate/Debug/ReP4er.tlog/link.command.1.tlog
Intermidiate/Debug/ReP4er.tlog/link.read.1.tlog
Intermidiate/Debug/ReP4er.tlog/link.write.1.tlog
Intermidiate/Debug/ReP4er.tlog/ReP4er.lastbuildstate
Intermidiate/Debug/ReP4er.tlog/ReP4er.write.1u.tlog
Intermidiate/Debug/vc142.pdb
Intermidiate/Release/Main.obj
Intermidiate/Release/reaper_rep4er_x64.dll.recipe
Intermidiate/Release/reaper_rep4er_x64.ilk
Intermidiate/Release/ReP4er.log
Intermidiate/Release/ReP4er.tlog/CL.command.1.tlog
Intermidiate/Release/ReP4er.tlog/CL.read.1.tlog
Intermidiate/Release/ReP4er.tlog/CL.write.1.tlog
Intermidiate/Release/ReP4er.tlog/link.command.1.tlog
Intermidiate/Release/ReP4er.tlog/link.read.1.tlog
Intermidiate/Release/ReP4er.tlog/link.write.1.tlog
Intermidiate/Release/ReP4er.tlog/ReP4er.lastbuildstate
Intermidiate/Release/ReP4er.tlog/ReP4er.write.1u.tlog
Intermidiate/Release/vc142.pdb
.vs/ReP4er/v17/.suo
.vs/ReP4er/v17/Browse.VC.db
.vs/ReP4er/v17/fileList.bin
Intermidiate/Release/reaper_rep4er_x64.Build.CppClean.log
Intermidiate/Release/ReP4er.vcxproj.FileListAbsolute.txt
JUCE/Builds/VisualStudio2022/.vs/JuceLib/v17/.suo
JUCE/Builds/VisualStudio2022/.vs/JuceLib/v17/Browse.VC.db
JUCE/Builds/VisualStudio2022/.vs/JuceLib/v17/fileList.bin
JUCE/Builds/VisualStudio2022/.vs/JuceLib/v17/ipch/AutoPCH/db45f3717546bbcc/INCLUDE_JUCE_GRAPHICS.ipch
.vs/ReP4er/v17/ipch/AutoPCH/1f0aa5a5bc06b02d/REAPERHELPERS.ipch
.vs/ReP4er/v17/ipch/AutoPCH/2da7f5bad5986a45/PLATFORMHELPERS.ipch
.vs/ReP4er/v17/ipch/AutoPCH/75c06ba8e743b360/MAIN.ipch
.vs/ReP4er/v17/ipch/AutoPCH/ec3cee97e875fc12/MAIN.ipch
.vs/ReP4er/v17/Solution.VC.db
Intermidiate/Debug/platformhelpers.obj
Intermidiate/Debug/reaperHelpers.obj
Intermidiate/Release/platformhelpers.obj
Intermidiate/Release/reaperHelpers.obj
